<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="fragments/navbar ::navbar"></div>
        <div >
            <div>
                <div>
                    <div>
                        <h3 >
                            "Bienvenidos a MovieMaster"
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
